<div class="prelogin-page">
	<div class="registration-steps">
		<div class="row">
			<div class="col-12 position-static">
				<div class="inner-header">
					<div class="registration-container">
						<h4>Information</h4>
						<!-- <a class="close-registration" ><img (click)="mobPrevclick('cross')" src="../assets/images/svg/close-w.svg"></a> --></div>
				</div>
				<div class="registrationsteps-block registration-container success-page oops-page ">
					<div class="img-block"> <img src="assets/images/service-out.png" alt="reg-opps"> </div>
					<h3>Oops!</h3>
					<p>Your Session has been expired</p>
          <a class="ux-button sm secondary " (click)="goToPage()">Login Again</a>
        </div>
			</div>
		</div>
	</div>
	<!-- .full-container -->
</div>
