<div class="main bg-m prelogin-page login-page direct-tax-login">
	<div class="right-main-column m-0">
		<div class="right-col-container pad-b full-width">
			<div class="body-page-container">
				<div class="container-fluid">
					<div class="row m-0">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="col-xl-8 col-md-10 col-12 m-auto">
											<div class="row1 hide-m">
												<div class="col-md-8 col-12">
													<h4>Receipt</h4> </div>
												<div class="col-md-4 col-12"> </div>
											</div>
											<div class="row1">
												<div class="col-sm-12 col-12 col-md-12">
													<div class="white-box2 mar-t pad-custom custom-bor">
														<div class="row">
															<div class="success">
																<h5 *ngIf="status == '00'" class="success pl-0" > <img src="assets/images/svg/success-arrow.svg" alt="success-icon"> Success</h5>
																<small  *ngIf="status == '00'" >Payment Successful</small>
																<h5 *ngIf="status != '00'" class="error pl-0"> <img src="assets/images/svg/fail.svg" alt="success-icon"> Failed</h5>
																<small *ngIf="status != '00'" >Payment Failed</small>
																<span class="errormsg" *ngIf="status != '00'"  >{{DataService.paymentDetails.remark}}</span>
																<h4>{{DataService.paymentDetails.amount | customcurrency:'symbol'}}</h4>
                                <small class="mt-3">
                                  <span *ngIf="DataService?.referenceNo">
                                  Transaction ID {{DataService?.referenceNo}}
                                  </span>
                                </small>
															</div>
														</div>
														<div class="bg-img"> <img src="assets/images/svg/psb-receipt icon.svg" alt="success-bg"> </div>
													</div>
												</div>
												<div class="col-sm-12 col-12 col-md-12">
													<div class="result-container1 mar-top">
														<div class="info-bottom pad-custom">
															<div class="info-details mt-3">
																<div class="row">
																	<h6>Pay To</h6>
																	<h5>{{payTo}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Payment Amount</h6>
																	<h5>{{DataService.paymentDetails.amount | customcurrency:'symbol'}} </h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Reference Number </h6>
																	<h5> {{DataService.referenceNo}} </h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Debit Account </h6>
																	<h5> {{DataService.paymentDetails.maskedAccountNo}} </h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Remarks</h6>
																	<h5>{{DataService.paymentDetails.remarks}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6> Date </h6>
																	<h5>{{DataService.paymentDetails.transDate}}</h5> </div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="row1">
												<div class="col-md-12 col-lg-6 col-12" >
													<ul class="link-list hide-m">
														<li (click)="shareDetails()">
															<a ><img src="assets/images/svg/share.svg" alt="share-icon">Share</a>
														</li>

														<li (click)="downloadPdfReceipt('N')">
															<a ><img src="assets/images/svg/download.svg" alt="download-icon">DOWNLOAD </a>
														</li>

														
													</ul>
												</div>
												<div class="col-md-12 col-lg-6 col-12">
													<ul class="bottom-footer1">
														<li>
															<div class="btn-div">
																<button class=" ux-button primary sm-mob" (click)="redirectURL()">Back to Merchant</button>
															</div>
														</li>
													</ul>
												</div>
										
											</div>
										</div>
									</div>
									<!-- Greencard2 End here -->
									<!-- <div class="text-center">
										<button class=" ux-button secondary sm-mob"  type="button" (click)="redirectURL()">Back to Merchant </button>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->
