<div class="main bg-m prelogin-page login-page direct-tax-login">
	<div class="right-main-column m-0 pb-80">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad manage-payee">
				<div class="container-fluid">
					<div class="row m-0">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="col-xl-8 col-md-10 col-12 m-auto">
											<div class="row1 hide-m">
												<div class="col-md-8 col-12">
													<h4>Receipt</h4> </div>
												<div class="col-md-4 col-12"> </div>
											</div>
											<div class="row1">
												<div class="col-sm-12 col-12 col-md-12">
													<div class="white-box2 mar-t pad-custom custom-bor">
														<div class="row">
															<div class="success">
																<h5 class="pl-0" [ngClass]="{'success': receiptType === constant.val_Successful, 'error' : receiptType != constant.val_Successful}"> <img [src]="receiptType == constant.val_Successful ? 'assets/images/svg/success-arrow.svg' :  'assets/images/svg/fail.svg'" alt="success-icon"> {{receiptType}}</h5>
                                <small>{{ receiptMsg }}</small>
																<h4 class="pl-0" [ngClass]="{'success': receiptType === constant.val_Successful, 'error' : receiptType != constant.val_Successful }"><img src="assets/images/svg/rupee2.svg" alt="rupees-icon"> {{overviewObject.total_amt}} </h4> <small class="mt-3">
                                  <span>
                                  Transaction ID {{receipdRefID}}
                                  </span>
                                  </small>
                                </div>
														</div>
														<div class="bg-img"> <img src="assets/images/svg/psb-receipt icon.svg" alt="success-bg"> </div>
													</div>
												</div>
												<div class="col-sm-12 col-12 col-md-12">
													<div class="mar-t result-container1">
														<!-- <div class="white-box2 mar-t pad-custom custom-bor"> -->
														<div class="info-bottom pad-custom pad-custom-setting">
															<div class="info-details">
																<div class="row">
																	<h6>IGST Amount</h6>
																	<h5>₹ {{overviewObject.igst_amt ? overviewObject.igst_amt : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Cess amount</h6>
																	<h5>₹ {{overviewObject.cess_amt ? overviewObject.cess_amt : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>CGST Account Code</h6>
																	<h5>{{overviewObject.cess_acc_code ? overviewObject.cess_acc_code : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>SGST Account Code</h6>
																	<h5>{{overviewObject.sgst_acc_code ? overviewObject.sgst_acc_code : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Challan Expiry Date</h6>
																	<h5>{{overviewObject.chln_exp_dt ? overviewObject.chln_exp_dt : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>SGST Amount</h6>
																	<h5>₹ {{overviewObject.sgst_amt ? overviewObject.sgst_amt : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>GSTIN</h6>
																	<h5>{{overviewObject.gstin ? overviewObject.gstin : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>CGST Amount</h6>
																	<h5>₹ {{overviewObject.cgst_amt ? overviewObject.cgst_amt : '-'}}</h5> </div>
															</div>
                              <div class="info-details">
																<div class="row">
																	<h6>Total Amount</h6>
																	<h5>₹ {{overviewObject.total_amt ? overviewObject.total_amt : '-'}}</h5> </div>
															</div>
                              <div class="info-details">
																<div class="row">
																	<h6>Cess Account Code</h6>
																	<h5>{{overviewObject.cess_acc_code ? overviewObject.cess_acc_code : '-'}}</h5> </div>
															</div>
                              <div class="info-details">
																<div class="row">
																	<h6>Transaction Id</h6>
																	<h5>{{overviewObject.txnid ? overviewObject.txnid : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>IGST Account Code</h6>
																	<h5>{{overviewObject.igst_acc_code ? overviewObject.igst_acc_code : '-'}}</h5> </div>
															</div>
                              <div class="info-details">
																<div class="row">
																	<h6>CPIN</h6>
																	<h5>{{overviewObject.cpin ? overviewObject.cpin : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Payment Date</h6>
																	<h5>{{overviewObject.request_tim ? overviewObject.request_tim : '-'}}</h5> </div>
															</div>
                              <div class="info-details">
																<div class="row">
																	<h6>Debit Account</h6>
																	<h5>{{DataService.gstnSelectedAccount}}</h5> </div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row1">
												<div class="col-md-12 col-lg-6 col-12" >
													<ul class="link-list hide-m">
														<li (click)="shareDetails()">
															<a ><img src="assets/images/svg/share.svg" alt="share-icon">Share</a>
														</li>

														<li (click)="downloadPdfReceipt('N')">
															<a ><img src="assets/images/svg/download.svg" alt="download-icon">DOWNLOAD </a>
														</li>


													</ul>
												</div>
												<!-- <div class="col-md-12 col-lg-6 col-12">
													<ul class="bottom-footer1">
														<li>
															<div class="btn-div">
																<button class=" ux-button primary sm-mob" (click)="redirectURL()">Back to Merchant</button>
															</div>
														</li>
													</ul>
												</div> -->

											</div>
										</div>
									</div>
									<!-- Greencard2 End here -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->
