$white : #ffffff;
$black : #000000;
$light-grey: #ededed;
$green: #22aa22;
$yellow:#FFF200;
$yellow2:#f7b335;

$yellow-light:#fffdcc;
$lightgreen:#E5F2EB;
$grey:#f7f8fa;
$green1:#C5FF00;
$green2:#c4ffd1;
$red1:#c51523;
$red2:#e82338;
$red-light:#fef2f3;
$grey1:#EFEFEF;
$grey2:#FCFCFC;
$grey3:#E8E8E8;
$grey4:#707273; 
$grey5:#F7F8FA;
$grey6:#F9FAFB;
$grey-light:#e7eaec;
$grey-dark:#2F2F2F;
$grey-dark2:#191919; 
$blue-light:#cde4f0;
$blue-dark:#0075b0;
$yellow-light2:#F8F5B1;
$yellow-dark2:#968e05;
$red-light2:#F1D9CE;
$red-dark2:#B8400D;
$green-light2:#d2f3d2;
$green-dark2:#007C3D;


$brand-primary-color: #007C3D;  
$brand-primary-color-lightheme: #B7DBC8;
$brand-primary-color-lightheme-trans: rgba(0, 124 , 61 , 0.2);
$brand-primary-color-light:#5A934A;
$brand-primary-color-dark:#036333;
$brand-secondary-color: #AD1C29;
$brand-secondary-color-mlight:#B8400D; 
$brand-secondary-color-light:#FFF200; 
$brand-default-color: #37474F; 
$brand-light-color:#EFEFEF; 
$brand-blue-color:#0075B0; 


$dark-theme-shade1: #121212;
$dark-theme-shade2: #292929;
$dark-theme-shade3: #444444;
$dark-theme-shade4:#1d1c1c;
$dark-theme-shade6: rgba(#707273, 0.2);
$dark-theme-shade5: #303030 ;


$dark-text-shade1: #ffffff ;
$dark-text-shade2: #BEBEBE ;
$dark-text-shade3: #EFEFEF ;
$dark-text-shade4: #807E7E ;

$brand1-background-color1: #66c9ff;
$brand1-background-color2: #006bbb;
$brand2-background-color1: #ff8D3f;
$brand2-background-color2: #b42900;
$brand4-background-color1: #62727B;
$brand4-background-color2: #002266;
$brand3-background-color1: #2c3942;

$brand1: #007C3D;
$brand2: #0d5ea5;
$brand3: #e3f2fd;
$brand4: #660777;  
$brand5: #272D33;
$brand6: #00b4f0;
$brand7: #0057bb;
$brand8: #353688;
$brand9:#74099b;
$brand10:#c40957;


/* -- action colors */
$action-danger-color:#c51523; 
$action-success-color:#05ab44; 
$action-warning-color:#FFF200;
$action-info-color: #0075B0;
 
 
$images-background-path: '../assets/images/background/';
$images-banner-path: '../assets/images/banner/';
$images-icons-path: '../assets/images/icons/';
$images-logo-path: '../assets/images/logo/';
$images-temp-path: '../assets/images/temp/';
$images-loader-path: '../assets/images/loader/';
$images-slides-path: '../assets/images/slides/';
$images-svg-path: '../assets/images/svg/';



