<div class="main bg-m prelogin-page login-page direct-tax-login">
	<div class="right-main-column m-0 pb-80">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad manage-payee">
				<div class="container-fluid">
					<div class="row m-0">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="col-xl-10 col-md-12 col-12 m-auto">
											<div class="row1 hide-m">
												<div class="col-md-8 col-12">
													<h4>Enter OTP</h4> </div>
												<div class="col-md-4 col-12"> </div>
											</div>
											<div class="row1">
												<div class="col-sm-12 col-12 col-md-12">
													<div class="white-box2 mar-t pad-custom custom-bor">
														<div class="row1">
															<div class="col-12 col-md-8 col-lg-9 col-xl-9">
																<div class="row1">
																	<div class="col-12 col-md-12">
																		<div class="ux-input"> <em class="info-message2">OTP sent on your registered Mobile number ending with ******{{mobNumber.slice(mobNumber.length - 4)}}</em> </div>
																	</div>
																	<div class="col-12 col-md-8 col-lg-8 col-xl-7">
																		<div class="row">
																			<div class="col-12 pl-2 pr-2">
                                                                                <form [formGroup]="otpForm">
																				<div class="row3">
																					<div class="col-sm-2 col-2 col-md-2"  *ngFor="let otp of otpInput | slice:0:6; index as i">
																						<div class="ux-input password1 mb-1">
																							<!-- <input id="otppassword1" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent(1, event)" onfocus="onfocusEvent(1)"> </div> -->
                                                                                            <input id="otppassword{{i}}" #otpRow type="tel" maxlength="1" placeholder="●" (keyup)="onKeyUpEvent(i, $event, 'otp')"  formControlName="{{otp}}" pattern="\d*" > </div>
																					</div>
																					<!-- <div class="col-sm-2 col-2 col-md-2">
																						<div class="ux-input password1 mb-1">
																							<input id="otppassword2" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent(2, event)" onfocus="onfocusEvent(2)"> </div>
																					</div>
																					<div class="col-sm-2 col-2 col-md-2">
																						<div class="ux-input password1 mb-1">
																							<input id="otppassword3" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent(3, event)" onfocus="onfocusEvent(3)"> </div>
																					</div>
																					<div class="col-sm-2 col-2 col-md-2">
																						<div class="ux-input password1 mb-1">
																							<input id="otppassword4" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent(4, event)" onfocus="onfocusEvent(4)"> </div>
																					</div>
																					<div class="col-sm-2 col-2 col-md-2">
																						<div class="ux-input password1  mb-1">
																							<input id="otppassword5" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent(5, event)" onfocus="onfocusEvent(5)"> </div>
																					</div>
																					<div class="col-sm-2 col-2 col-md-2">
																						<div class="ux-input password1 mb-1">
																							<input id="otppassword6" type="password" maxlength="1" placeholder="●" onkeyup="onKeyupEvent(6, event)" onfocus="onfocusEvent(6)"> </div>
																					</div> -->
																				</div>
                                                                                </form>
																				<div class="row1">
																					<div class="col-12">
																						<div class="ux-input password1 mt-0 mb-0">
																							<p class="error-message" *ngIf="invalidOtp">Please enter valid OTP</p>
																						</div>
																					</div>
																				</div>
																				<div class="row3">
																					<div class="col-6 col-md-6">
																						<div class="text-left">
																							<p class="text-left"> <span class="success-text">{{counter | formatTimer}}</span> </p>
																						</div>
																					</div>
																					<div class="col-6 col-md-6">
																						<div class="text-right">
																							<button class="ux-linkbutton default-underline mt3" [ngClass]="counter > 0 ? 'rsnd-lnk mydisabled' : 'rsnd-lnk resendActive'"
                                              (click)="resendOTP(2)">Resend</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-12 col-md-4 col-lg-3 col-xl-3 text-right hide-m">
																<div class="mobile-img"> <img src="assets/images/icons/mobile.svg" alt="mobile-icon"> </div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-12 col-12 col-md-12">
													<div class="result-container1 mar-top">
														<div class="info-bottom pad-custom">
															<div class="info-details mt-3">
																<div class="row">
																	<h6>Major Head</h6>
																	<h5>{{overviewObject.majorHead ? overviewObject.majorHead : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Minor Head</h6>
																	<h5>{{overviewObject.minorHead ? overviewObject.minorHead : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Nature of Payment</h6>
																	<h5>-</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>PAN/TAN</h6>
																	<h5>{{overviewObject.pan ? overviewObject.pan : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Full Name</h6>
																	<h5>{{overviewObject.fullName ? overviewObject.fullName : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Assessment Year</h6>
																	<h5>{{overviewObject.assestmentYear ? overviewObject.assestmentYear : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Address Line 1</h6>
																	<h5>{{overviewObject.address1 ? overviewObject.address1 : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Address Line 2</h6>
																	<h5>{{overviewObject.address2 ? overviewObject.address2 : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Address Line 3</h6>
																	<h5>{{overviewObject.address3 ? overviewObject.address3 : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Address Line 4</h6>
																	<h5>{{overviewObject.address4 ? overviewObject.address4 : '-'}}</h5>
                                </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Address Line 5</h6>
																	<h5>{{overviewObject.address5 ? overviewObject.address5 : '-'}}</h5>
                                </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>State</h6>
																	<h5>{{overviewObject.state ? overviewObject.state : '-'}}</h5>
                                </div>
															</div>
															<!-- <div class="info-details">
																<div class="row">
																	<h6>City</h6>
																	<h5><div class="info-details">
																<div class="row">
																	<h6>Address Line 2</h6>
																	<h5>{{overviewObject.majorHead ? overviewObject.majorHead : '-'}}</h5> </div>
															</div></h5> </div>
															</div> -->
															<div class="info-details">
																<div class="row">
																	<h6>PIN</h6>
																	<h5>{{overviewObject.pin ? overviewObject.pin : '-'}}</h5>
															  </div>
                              </div>
															<div class="info-details">
																<div class="row">
																	<h6>Tax</h6>
																	<h5> {{overviewObject.incomeTax ? overviewObject.incomeTax : '-'  }}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6> Surcharge </h6>
																	<h5> {{overviewObject.surcharge ? overviewObject.surcharge : '-'  }}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Education Cess </h6>
																	<h5> {{overviewObject.educationCess ? overviewObject.educationCess : '-'  }}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6> Interest </h6>
																	<h5> {{overviewObject.interest ? overviewObject.interest : '-' }}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Penalty </h6>
																	<h5> {{overviewObject.penalty ? overviewObject.penalty : '-'  }}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6> Others </h6>
																	<h5> {{overviewObject.other ? overviewObject.other : '-'  }}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6>Total Amount</h6>
																	<h5> {{overviewObject.totalAmount ? overviewObject.totalAmount : '-'  }}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6> Remarks </h6>
																	<h5>{{overviewObject.remark ? overviewObject.remark : '-'}}</h5> </div>
															</div>
															<div class="info-details">
																<div class="row">
																	<h6> Date </h6>
																	<h5>{{overviewObject.dob ? overviewObject.dob : '-'}}</h5> </div>
															</div>
													</div>
												</div>
												<div class="col-12 col-md-12">
													<div class="row1">
														<div class="col-md-12 col-lg-12 col-12">
															<ul class="bottom-footer1">
																<li>
																	<div class="btn-div">
																		<button class=" ux-button secondary sm-mob" type="button" (click)="goToPage('challanPaymentOverview')">Back</button>
																	</div>
																	<div class="btn-div">
																		<button class=" ux-button primary sm-mob"  type="submit" (click)="otpSubmit()">Submit</button>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Greencard2 End here -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->

<!-- OTP Expired popup start-->
<div class="popup-bottom sm-popup otp-attempt-expired">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center"> <img src="assets/images/svg/success.svg" alt="success-icon"> Information</h4>
    </div>
	</div>
	<div class="row1">
		<div class="col-12 mb-4">
			<p> You have reached your maximum attempt.Please try again </p>
		</div>
	</div>
	<div class="row1  mt-2">
		<div class="col-12 text-center">
			<button class="ux-button primary submit-btn" (click)="closePopup('div.popup-bottom.otp-attempt-expired')">OK</button>
		</div>
	</div>
</div>
<!-- OTP popup end -->
